{{ define "title" }}{{ .Title }}{{ end }}
{{ define "main" }}<h1>Reservations</h1>{{ template "reservation-list" . }}{{ end }}
{{ define "reservation-list" }}
<ul id="reservation-list">
{{ range .Reservations }}
<li>
  <span class="id">{{ .ID }}</span>
  <span class="room">{{ .RoomID }}</span>
  <span class="checkin">{{ .CheckIn }}</span>
  <span class="checkout">{{ .CheckOut }}</span>
  <span class="status {{ .StatusClass }}">{{ .Status }}</span>
  <span class="amount">{{ .TotalAmount }}</span>
</li>
{{ end }}
</ul>
{{ end }}
